[submodule "TypstFontAssets"]
	path = assets/fonts
	url = https://github.com/Myriad-Dreamin/typst.git
	branch = assets-fonts
[submodule "TypstFileAssets"]
	path = assets/files
	url = https://github.com/Myriad-Dreamin/typst.git
	branch = assets-files

[submodule "projects/typst-preview"]
	path = projects/typst-preview
	url = https://github.com/Enter-tainer/typst-preview.git
	branch = main
	fetchRecurseSubmodules = false
	update=none
	ignore=all
[submodule "projects/typst-book"]
	path = projects/typst-book
	url = https://github.com/Myriad-Dreamin/typst-book.git
	branch = main
	fetchRecurseSubmodules = false
	update=none
	ignore=all
