[submodule "TypstFontAssets"]
	path = assets/fonts
	url = https://github.com/Myriad-Dreamin/typst.git
	branch = assets-fonts
[submodule "TypstFileAssets"]
	path = assets/files
	url = https://github.com/Myriad-Dreamin/typst.git
	branch = assets-files
