[submodule "TypstFileAssets"]
	path = assets/files
	url = https://github.com/Myriad-Dreamin/typst.git
	branch = assets-files
	fetchRecurseSubmodules = false
	update=none
	ignore=all

[submodule "projects/cetz-editor"]
	path = projects/cetz-editor
	url = https://github.com/Myriad-Dreamin/cetz-editor.git
	branch = main
	fetchRecurseSubmodules = false
	update=none
	ignore=all
