[workspace]
members = [
    "cli",
    "core",
    "compiler",

    "packages/typst.ts",

    "exporter/ast",
    "exporter/canvas",
    "exporter/pdf",
    "exporter/raster",
    "exporter/serde",
    "exporter/tir",
    "exporter/ws",

    "contrib/fontctl",
    "contrib/dev-server",
]

[patch.crates-io]
typst-ts-core = { path = "core" }
typst-ts-compiler = { path = "compiler" }
typst-ts-ast-exporter = { path = "exporter/ast" }
typst-ts-canvas-exporter = { path = "exporter/canvas" }
typst-ts-pdf-exporter = { path = "exporter/pdf" }
typst-ts-raster-exporter = { path = "exporter/raster" }
typst-ts-serde-exporter = { path = "exporter/serde" }
typst-ts-tir-exporter = { path = "exporter/tir" }
typst-ts-ws-exporter = { path = "exporter/ws" }

typst = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }
typst-library = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }

# typst = { path = "../typst" }
# typst-library = { path = "../typst/library" }

[profile.release]
opt-level = 3
debug = true
lto = "thin"
