[workspace.package]
description = "Run Typst in JavaScriptWorld."
authors = ["Typst.ts Developers", "The Typst Project Developers"]
version = "0.4.0-rc2"
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://myriad-dreamin.github.io/typst.ts/"
repository = "https://github.com/Myriad-Dreamin/typst.ts"

[workspace]
resolver = "2"
members = [
    "cli",
    "core",
    "compiler",

    "exporter/ast",
    "exporter/canvas",
    "exporter/pdf",
    "exporter/raster",
    "exporter/serde",
    "exporter/svg",

    "packages/compiler",
    "packages/renderer",

    "server/dev",
    "server/remote",

    "tools/rkyv-assertions",
    "tools/fontctl",

    "tests/common",
    "tests/heap-profile",
    "tests/integration",
    "tests/std",
]

[profile.release]
opt-level = 3
debug = true
incremental = true
lto = "thin"

[profile.release-stripped]
inherits = "release"
lto = "fat"
debug = false
strip = true

[profile.release-ci]
inherits = "release"
opt-level = 1
debug = false
strip = true

[workspace.dependencies]

# typesetting
typst = "0.7.0"
typst-library = "0.7.0"
typst-syntaxes = "0.7.0"
tiny-skia = "0.9.0"
ttf-parser = "0.18.1"
image = { version = "0.24", default-features = false, features = [
    "png",
    "jpeg",
    "gif",
] }

# general
anyhow = "1"
chrono = { version = "0.4.24", default-features = false, features = [
    "clock",
    "std",
] }
futures = "0.3.28"
once_cell = "1.17.1"
parking_lot = "0.12.1"
pollster = "0.3.0"
rayon = "1.7.0"
tokio = { version = "1.28.1", features = ["full"] }

# data structure and algorithm
append-only-vec = "0.1.2"
comemo = "0.3"
dissimilar = "1.0"
elsa = "1.8.1"
ecow = "0.1"
fst = "0.4.7"
indexmap = "2.0.0"
pathdiff = "0.2.1"

# cli
clap = { version = "4.3", features = ["derive", "env", "unicode", "wrap_help"] }
clap_complete = "4.3"
clap_complete_fig = "4.3"

# tui
rustyline = { version = "12.0.0", features = ["derive"] }

# net
tokio-tungstenite = "0.18.0"

# system
dirs = "5"
memmap2 = "0.7"
notify = "5"
walkdir = "2"

# web
js-sys = "^0.3"
wasm-bindgen = "^0.2"
wasm-bindgen-futures = "^0.4"
wasm-bindgen-test = "0.3.36"
web-sys = "^0.3"

# cryptography and processing
base64 = "0.21.0"
byteorder = "1.4.3"
hex = "0.4.3"
flate2 = "1"
nohash-hasher = "0.2.0"
rkyv = "0.7.42"
rmp-serde = "1.1.1"
rustc-hash = "1.1.0"
# https://github.com/serde-rs/serde/issues/2538#issuecomment-1684517372
# <= 1.0.171 due to serde-rs/serde#2538
serde = { version = ">= 1.0.126, <= 1.0.171" }
serde_json = "1.0.96"
serde-wasm-bindgen = "^0.5"
sha2 = "0.10.6"
siphasher = "0.3.10"
tar = "0.4"
toml = "0.7.5"
xmlparser = "0.13.5"

# logging and tracing
env_logger = "0.10.0"
log = "0.4.17"
tracing = "0.1.37"
tracing-error = "0.2"
tracing-subscriber = { version = "0.3.17", features = ["std"] }

# test
insta = "1.29.0"

# misc
codespan-reporting = "0.11"
human-panic = "1.1.4"
path-clean = "1.0.1"
vergen = { version = "7.5.1", features = ["build", "cargo", "git", "rustc"] }

# project core
typst-ts-core = "0.4.0-rc1"
typst-ts-compiler = { version = "0.4.0-rc2", default-features = false }
typst-ts-test-common = { version = "0.4.0-rc1", path = "tests/common" }

# project exporters
typst-ts-ast-exporter = "0.4.0-rc1"
typst-ts-pdf-exporter = "0.4.0-rc1"
typst-ts-canvas-exporter = { version = "0.4.0-rc1", path = "exporter/canvas" }
typst-ts-raster-exporter = "0.4.0-rc1"
typst-ts-serde-exporter = "0.4.0-rc1"
typst-ts-svg-exporter = "0.4.0-rc1"

# project common components
typst-ts-dev-server = { version = "0.4.0-rc1", path = "server/dev" }
typst-ts-cli = { version = "0.4.0-rc1", path = "cli" }

[patch.crates-io]
typst-ts-core = { path = "core" }
typst-ts-compiler = { path = "compiler" }
typst-ts-ast-exporter = { path = "exporter/ast" }
typst-ts-pdf-exporter = { path = "exporter/pdf" }
typst-ts-raster-exporter = { path = "exporter/raster" }
typst-ts-serde-exporter = { path = "exporter/serde" }
typst-ts-svg-exporter = { path = "exporter/svg" }

typst = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }
typst-library = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }

# typst = { path = "../typst/crates/typst" }
# typst-library = { path = "../typst/crates/typst-library" }
