[package]
name = "typst-ts-core"
version = "0.1.6"
license = "Apache-2.0"
edition = "2021"
description = "Serialize Typst document tree."
repository = "https://github.com/Myriad-Dreamin/typst.ts"

[dependencies]
typst.workspace = true
typst-library.workspace = true
comemo.workspace = true
ttf-parser.workspace = true

base64.workspace = true
hex.workspace = true
siphasher.workspace = true
sha2.workspace = true

once_cell.workspace = true

serde.workspace = true
serde_json.workspace = true
serde_with = { version = "2.3.2", features = ["base64"] }
