body {
  margin: 0;
  padding: 0;
  background: #343541; /* rgba(255, 255, 255, 0.9); */
}

#typst-app {
  margin: 0;
}

.typst-html-semantics {
  position: absolute;
  z-index: 2;
  color: transparent;
  font-family: monospace;
  white-space: pre;
}

.typst-html-semantics span {
  color: transparent;
  font-family: monospace;
  transform-origin: left top;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.typst-content-hint {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.typst-html-semantics a {
  position: absolute;
  display: inline-block;
}

/* set transparent itself */
.typst-content-group {
  pointer-events: visible;
}

.typst-html-semantics span::-moz-selection {
  color: transparent;
  background: #7db9dea0;
}

.typst-html-semantics span::selection {
  color: transparent;
  background: #7db9dea0;
}

.typst-html-semantics *::-moz-selection {
  color: transparent;
  background: transparent;
}

.typst-html-semantics *::selection {
  color: transparent;
  background: transparent;
}

.typst-content-fallback {
  color: transparent;
  background: transparent;
}

.pseudo-link,
.typst-text {
  pointer-events: none;
}

.navigator {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #343541; /* rgba(255, 255, 255, 0.9); */
  top: 0;
}

.navigator ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px;
}

.navigator li {
  float: left;
  position: relative;
  overflow: hidden;
}

.navigator li.right {
  float: right;
  position: relative;
  overflow: hidden;
}

.navigator li a {
  display: block;
  color: white;
  /* color: #636b6f; */
  font-size: 30px;
  text-align: center;
  margin: 0px -1px 0px;
  font-family: 'Garamond', sans-serif;
  overflow: hidden;
  text-decoration: none;
}

.navigator a:after {
  display: flex;
  align-items: baseline;
  content: '';
  border-bottom: solid 2px white;
  transform: translateY(-6.5px) scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.navigator a:hover:after {
  transform: translateY(-6.5px) scaleX(1);
}
