[package]
name = "typst-ts-parser"
description = "Parse Typst documents in JavaScript environment."
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true


[lib]
crate-type = ["cdylib"]

[dependencies]

typst.workspace = true

once_cell.workspace = true
serde-wasm-bindgen.workspace = true

# Everything to do with wasm
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
js-sys.workspace = true
web-sys.workspace = true
console_error_panic_hook.workspace = true

reflexo-typst = { workspace = true, default-features = false, features = [
    "web",
] }

[dev-dependencies]
wasm-bindgen-test.workspace = true
typst-ts-test-common.workspace = true
web-sys = { workspace = true, features = ["console"] }

[features]
web_test = ["typst-ts-test-common/web_artifacts"]

full = ["web", "web_test"]
web = []
default = ["full"]
