[package]
name = "reflexo-vec2canvas"
description = "Render vector items into canvas element."
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

comemo.workspace = true
elsa.workspace = true
ecow.workspace = true
reflexo = { workspace = true, features = ["web"] }
reflexo-vec2bbox.workspace = true

tiny-skia.workspace = true
async-trait.workspace = true
wasm-bindgen-futures.workspace = true

wasm-bindgen.workspace = true
js-sys.workspace = true
web-sys = { workspace = true, features = [
    "console",
    "CanvasRenderingContext2d",
    "Path2d",
    "Blob",
    "HtmlImageElement",
    "HtmlDivElement",
    "HtmlCanvasElement",
    "Url",
    "BlobPropertyBag",
    "Window",
    "Document",
] }

[features]
default = ["incremental"]
incremental = ["reflexo/flat-vector"]
report_group = []
render_bbox = []
