[package]
name = "typst-ts-compiler"
version = "0.1.6"
license = "Apache-2.0"
edition = "2021"
description = "Compile Typst documents."
repository = "https://github.com/Myriad-Dreamin/typst.ts"

[dependencies]
typst-ts-core = "0.1"

typst = "0.3.0"
typst-library = "0.3.0"
comemo = "0.2"

once_cell = "1.17.1"
siphasher = "0.3.10"
append-only-vec = "0.1.2"
codespan-reporting = "0.11"
parking_lot = "0.12.1"

serde_json = "1.0.96"

hex = "0.4.3"
sha2 = "0.10.6"
flate2 = "1"

memmap2 = { version = "0.5", optional = true }
dirs = { version = "4", optional = true }
walkdir = { version = "2", optional = true }
same-file = { version = "1", optional = true }
pollster = { version = "^0.3", optional = true }

wasm-bindgen = { version = "^0.2", optional = true }
wasm-bindgen-futures =  { version = "^0.4", optional = true }
js-sys = { version = "^0.3", optional = true }
web-sys = { version = "^0.3", optional = true, features = ["console", "Window", "Blob", "ImageData"] }

[dev-dependencies]
serde = "1.0.159"
serde_json = "1.0.95"

[features]
system = ["dep:memmap2", "dep:dirs", "dep:walkdir", "dep:same-file"]
__web = ["dep:wasm-bindgen", "dep:wasm-bindgen-futures", "dep:js-sys", "dep:web-sys", "dep:pollster"]
web-render = ["__web"]
browser-compile = ["__web", "web-render"]
web = ["__web", "web-render", "browser-compile"]
default = ["system"]
