[package]
name = "typst-ts-compiler"
version = "0.1.6"
license = "Apache-2.0"
edition = "2021"
description = "Compile Typst documents."
repository = "https://github.com/Myriad-Dreamin/typst.ts"

[dependencies]

typst.workspace = true
typst-library.workspace = true
comemo.workspace = true

once_cell.workspace = true
siphasher.workspace = true
append-only-vec = "0.1.2"
codespan-reporting.workspace = true
parking_lot.workspace = true
hex.workspace = true
sha2.workspace = true
flate2.workspace = true

serde_json.workspace = true
serde-wasm-bindgen = { workspace = true, optional = true }

memmap2 = { version = "0.5", optional = true }
dirs = { workspace = true, optional = true }
walkdir = { version = "2", optional = true }
same-file = { version = "1", optional = true }
pollster = { workspace = true, optional = true }

wasm-bindgen = { workspace = true, optional = true }
wasm-bindgen-futures =  { workspace = true, optional = true }
js-sys = { workspace = true, optional = true }
web-sys = { workspace = true, optional = true, features = ["console", "Window", "Blob", "ImageData"] }

rustc-hash = "1.1.0"
fst = "0.4.7"
indexmap.workspace = true
nohash-hasher = "0.2.0"
path-clean = "1.0.1"

typst-ts-core = "0.1"

[dev-dependencies]
serde.workspace = true

[features]
system = ["dep:memmap2", "dep:dirs", "dep:walkdir", "dep:same-file"]
__web = ["dep:wasm-bindgen", "dep:wasm-bindgen-futures", "dep:js-sys", "dep:web-sys", "dep:serde-wasm-bindgen", "dep:pollster"]
web-render = ["__web"]
browser-compile = ["__web", "web-render"]
web = ["__web", "web-render", "browser-compile"]
default = ["system"]
