[package]
name = "typst-ts-renderer"
description = "Render Typst documents in browser."
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true


[package.metadata.wasm-pack.profile.release.wasm-bindgen]
debug-js-glue = true
demangle-name-section = true

[lib]
crate-type = ["cdylib"]

[dependencies]

typst.workspace = true
comemo.workspace = true

once_cell.workspace = true
elsa.workspace = true

pollster.workspace = true
tiny-skia.workspace = true

serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
rmp-serde = { workspace = true, optional = true }
byteorder.workspace = true

wasm-bindgen.workspace = true
js-sys.workspace = true
wasm-bindgen-futures.workspace = true
serde-wasm-bindgen.workspace = true
web-sys = { workspace = true, features = ["console", "Window"] }

typst-ts-core.workspace = true
typst-ts-compiler = { version = "0.5.0-rc5", default-features = false, features = [
    "web-render",
] }
reflexo-vec2canvas = { workspace = true, optional = true }
reflexo-vec2sema = { workspace = true }
typst-ts-svg-exporter = { workspace = true, optional = true }
typst-ts-dom-exporter = { workspace = true } # , optional = true
console_error_panic_hook.workspace = true

[dev-dependencies]
reflexo.workspace = true
wasm-bindgen-test.workspace = true
typst-ts-test-common.workspace = true
web-sys = { workspace = true, features = [
    "console",
    "Performance",
    "PerformanceTiming",
    "Window",
    "Document",
] }
hex.workspace = true
sha2.workspace = true
elsa.workspace = true
send_wrapper = "0.5.0"

[build-dependencies]
anyhow.workspace = true
vergen.workspace = true

[features]

debug_delta_update = []

web_test = ["typst-ts-test-common/web_artifacts"]
web_verbose = ["web_test"]                        # for test debug
serde_json = ["dep:serde_json"]
serde_rmp = ["dep:serde", "dep:rmp-serde"]

build_glyph_pack = []
build_raw_font = []
build_web_font = []
build_full = ["build_glyph_pack", "build_raw_font", "build_web_font"]

render_canvas = [
    "dep:reflexo-vec2canvas",
    "web-sys/HtmlCanvasElement",
    "web-sys/CanvasRenderingContext2d",
]
# render_dom = ["dep:typst-ts-dom-exporter", "render_svg"]
render_dom = ["render_svg"]
render_pdf = []
render_svg = ["dep:typst-ts-svg-exporter", "web-sys/HtmlDivElement"]
render_full = ["render_canvas", "render_pdf", "render_svg", "render_dom"]

full = ["serde_json", "serde_rmp", "render_full", "web_test"]

default = ["full"]
web = ["render_canvas", "render_svg", "render_dom"]
