[package]
name = "typst-ts-web-compiler"
version = "0.1.6"
license = "Apache-2.0"
edition = "2021"
readme = "README.md"
description = "Compile Typst documents in JavaScript environment."
repository = "https://github.com/Myriad-Dreamin/typst.ts"

[lib]
crate-type = ["cdylib"]

[dependencies]

ansi-to-html = "0.1.3"

typst.workspace = true
typst-library.workspace = true
comemo.workspace = true

once_cell.workspace = true
siphasher.workspace = true
elsa.workspace = true
serde-wasm-bindgen.workspace = true

# Everything to do with wasm
wasm-bindgen.workspace = true
js-sys.workspace = true
wasm-bindgen-futures.workspace = true
web-sys = { workspace = true, features = ["console", "Window", "Blob"] }

typst-ts-core.workspace = true
typst-ts-compiler = { version = "0.1", default-features = false, features = ["web"] }
typst-ts-ast-exporter = { workspace = true }
typst-ts-tir-exporter = { workspace = true }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.1" } # , optional = true

[dev-dependencies]
wasm-bindgen-test = "0.3.0"
web-sys = { workspace = true, features = ["console"] }

[features]
full = ["web"]
web = []
default = ["full"]
