[package]
name = "typst-ts-web-compiler"
description = "Compile Typst documents in Web environment."
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true


[lib]
crate-type = ["cdylib"]

[dependencies]

ansi-to-html.workspace = true

typst.workspace = true
comemo.workspace = true
base64.workspace = true

once_cell.workspace = true
elsa.workspace = true
serde-wasm-bindgen.workspace = true
serde_json.workspace = true

# Everything to do with wasm
wasm-bindgen.workspace = true
js-sys.workspace = true
wasm-bindgen-futures.workspace = true
# web-sys = { workspace = true, features = ["console", "Window", "Blob"] }
web-sys = { workspace = true, features = [
    "console",
    "Performance",
    "PerformanceTiming",
    "Window",
    "Blob",
    "ImageData",
    "Document",
    "HtmlCanvasElement",
] }
console_error_panic_hook.workspace = true

typst-ts-core.workspace = true
typst-ts-compiler = { version = "0.4.2-rc6", default-features = false, features = [
    "web",
] }
typst-ts-ast-exporter.workspace = true
typst-ts-canvas-exporter.workspace = true
typst-ts-svg-exporter.workspace = true
typst-ts-pdf-exporter.workspace = true

[dev-dependencies]
wasm-bindgen-test.workspace = true
typst-ts-test-common.workspace = true
hex.workspace = true
sha2.workspace = true
web-sys = { workspace = true, features = ["console"] }

[features]
web_test = ["typst-ts-test-common/web_artifacts"]

full = ["web", "web_test"]
web = []
default = ["full"]
