[package]
name = "typst-ts-node-compiler"
description = "Compile or Render Typst documents in Node environment."
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["serde-json"] }
napi-derive = "2"

typst-svg.workspace = true
typst-ts-cli.workspace = true
typst-ts-core = { workspace = true }
typst-ts-svg-exporter = { workspace = true, optional = true }
comemo.workspace = true
serde.workspace = true
serde_json.workspace = true
chrono.workspace = true

[build-dependencies]
napi-build = "2"

[features]

pdf = ["typst-ts-core/pdf"]
svg = ["typst-ts-svg-exporter", "typst-ts-svg-exporter/experimental-ligature"]
default = ["pdf", "svg"]
