name: reflexo::ci
on: [push, pull_request]

env:
  RUSTFLAGS: '-Dwarnings'
  SCCACHE_GHA_ENABLED: 'true'
  RUSTC_WRAPPER: 'sccache'
  CARGO_INCREMENTAL: '0'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Checkout test assets
        uses: actions/checkout@v4
        with:
          repository: Myriad-Dreamin/typst
          ref: assets-files
          path: assets/files
      - name: Install Mold
        uses: rui314/setup-mold@v1
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0
        with:
          components: clippy, rustfmt
      # https://github.com/Renumics/spotlight/blob/main/.github/workflows/ci.yml
      # https://www.ubuntuupdates.org/package/google_chrome/stable/main/base/google-chrome-stable
      # cp ./chromedriver-linux64/chromedriver /${HOME}/.cargo/bin/
      - name: Set up Chrome
        run: |
          VERSION_STRING="129.0.6668.70-1"
          wget "https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${VERSION_STRING}_amd64.deb"
          sudo dpkg -i "google-chrome-stable_${VERSION_STRING}_amd64.deb"
          google-chrome --version
      - name: Set up Chrome driver
        run: |
          wget https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/129.0.6668.70/linux64/chromedriver-linux64.zip
          unzip chromedriver-linux64.zip
          sudo mv ./chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
          chromedriver --version
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | bash
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Fmt check
        run: cargo fmt --check --all
      # todo: https://github.com/typst/typst/pull/2767
      #  --all-features
      - name: Clippy check
        run: cargo clippy --profile release-ci --workspace --all-targets
      - name: Documentation check
        run: cargo doc --profile release-ci --workspace --no-deps
      - name: Build
        run: |
          cargo build --profile release-ci --bin typst-ts-dev-server
      - name: Prepare artifacts
        run: |
          cargo run --profile release-ci --bin typst-ts-dev-server -- compile corpus --cat bugs,layout,lint,math,meta,text,visualize
      - name: Test
        run: |
          cargo test --profile release-ci --no-fail-fast \
            -p reflexo-typst \
            -p typst-ts-cli  -p typst-ts-integration-test
      - name: Archive Test Results (WebAssembly Renderer in Chrome)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: wasm-renderer-chrome.test_points.json.gz
          path: target/typst-artifacts/integrations/renderer/test_points.chrome.json.gz
